<h1>Transactions</h1>

<% @transactions.each do |transaction| %>
  <%= transaction.sender.full_name %>
  sending <%= transaction.amount %> BTC to
  <%= transaction.recipient.full_name %>
  <%= link_to 'Show', transaction %>
  <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %><br />
  </tr>
<% end %>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
