<p>
  <strong>Sender</strong>
  <%= @transaction.sender.full_name %>
</p>

<p>
  <strong>Recipient</strong>
  <%= @transaction.recipient.full_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<% if @transaction.affirmed? %>
  <%= form_tag("proceed") do %>
    <%= password_field_tag "main_password" %>
    <%= password_field_tag "second_password" %>
    <%= submit_tag "Proceed" %>
  <% end %>
<% end %>

<%= link_to 'List', transactions_path %>
