<p>
  <strong>Sender</strong>
  <%= @transaction.sender.full_name %>
</p>

<p>
  <strong>Recipient</strong>
  <%= @transaction.recipient.full_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<% if @transaction.affirmed? %>
  <%= link_to "Proceed", proceed_transaction_path %>
<% end %>

<%= link_to 'List', transactions_path %>
