<p>
  <%= @transaction.sender.full_name %>
  sending <%= @transaction.amount %> BTC to
  <%= @transaction.recipient.full_name %>
</p>

<p>
  Sender affirmed: <%= @transaction.sender_affirm %> <br/>
  Recipient affirmed: <%= @transaction.recip_affirm %>
</p>

<% if @transaction.affirmed? %>
  <% if @transaction.finished? %>
    Transaction finished<br />
  <% else %>
    <%= form_tag("#{@transaction.id}/proceed") do %>
      <%= password_field_tag "main_password", nil, placeholder: "Main Password" %><br />
      <%= password_field_tag "second_password", nil, placeholder: "Secondary Password (Optional)" %><br />
      <%= submit_tag "Proceed" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to 'List', transactions_path %>
